<div class="container col-12 text-center">

<h2>Currently editing Product: {{product.title}}</h2>
<div class="row">
  <form class="form-group col-12 text-center"  name="editProductForm" #editProductForm="ngForm" (submit)="updateCurrentProduct()">

    <label for="title">Product Name:</label>
    <input class="form-control text-center" type="text" name="product.title" placeholder="Product Title"
      [(ngModel)]="product.title"
      #title='ngModel'
      required
      minlength='4'>
      <div *ngIf='title.invalid' class='alert alert-danger'>
        <div *ngIf='title.errors.required'>
          Title is required
        </div>
        <div *ngIf='title.errors.minlength'>
          Must be 4 characters
        </div>
      </div>

    <label for="price">Price:</label>
    <input class="form-control text-center" type="string" name="product.price" placeholder="Product Price"
      [(ngModel)]="product.price"
      #price='ngModel'
      required
      pattern="[0-9]+(\.[0-9][0-9]){0,25}" >
      <div *ngIf='price.invalid' class='alert alert-danger'>
         <div *ngIf='price.errors.required'>
          Price is required
        </div>
        <div *ngIf='price.errors.pattern'>
         Cannot be a negative value or requires 2 decimal places
       </div>
      </div>

    <label  for="qty">Quantity:</label>
    <input class="form-control text-center" type="number" name="product.qty" value="product.qty" placeholder="Quantity"
    [(ngModel)]="product.qty"
    #qty='ngModel'
    required
    pattern="[0-9]{0,25}">
    <div *ngIf='qty.invalid' class='alert alert-danger'>
       <div *ngIf='qty.errors.required'>
        Quantity is required
      </div>
      <div *ngIf='qty.errors.pattern'>
       Quantity cannot be negative or a decimal
     </div>
    </div>

  <div class="col-12 text-center">
    <input [disabled]="!editProductForm.valid" id="updateButton"  class="btn btn-primary ml-2 mt-3" type="submit" value="Update">
    <button type="button" (click)='resetForm()' class='btn btn-danger align-bottom ml-2 mt-3'>Reset</button>
    <button type='button' class='btn btn-secondary ml-2 mt-3' [routerLink]='["/products"]'>Cancel</button>
  </div>
    </form>
</div>
</div>
