<!--The content below is only a placeholder and can be replaced.-->
<div class="container text-center mb-3">
  <h1>Commerce Management</h1>
  <div class="row">
    <div class="col-12 text-center">
      <button [routerLink]='["/home"]' class='btn btn-dark ml-2' >Home</button>
      <button [routerLink]='["/products"]' class='btn btn-success ml-2'>Product List</button>
      <button [routerLink]='["/products/new"]' class='btn btn-info ml-2'>New Product</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
